In [2]:
import pandas as pd
import numpy as np

In [3]:
gap_minder = pd.read_csv("../Data_Visualisation_Tableau/Dataset/combined_final_last_10_years.csv")

In [4]:
gap_minder.tail()

,continent,country,year,demox_eiu,income_per_person,invest_%_gdp,tax_%_gdp,gini_index
1229,Oceania,New Zealand,2012,92.6,33300,20.9,26.8,33.5
1230,Oceania,New Zealand,2013,92.6,33900,22.0,26.6,34.0
1231,Oceania,New Zealand,2014,92.6,34600,22.9,26.8,34.0
1232,Oceania,New Zealand,2015,92.6,35200,23.4,27.4,34.5
1233,Oceania,New Zealand,2016,92.6,35700,24.4,27.2,34.8

In [5]:
print(set(gap_minder['gini_index']))

{24.4, 25.9, 26.9, 27.9, 28.2, 29.4, 30.9, 31.2, 31.5, 33.6, 33.1, 31.0, 30.8, 30.5, 29.0, 30.3, 31.7, 41.0, 35.8, 36.4, 37.1, 38.8, 39.6, 40.2, 40.7, 49.9, 49.4, 51.4, 44.1, 53.6, 45.0, 46.2, 47.9, 54.7, 55.7, 56.2, 53.1, 53.4, 60.8, 61.7, 62.9, 62.3, 61.2, 60.6, 60.5, 62.5, 62.1, 63.9, 63.6, 24.5, 25.5, 26.0, 26.5, 27.0, 27.5, 28.5, 28.0, 29.5, 32.0, 32.5, 33.5, 33.0, 34.5, 34.0, 35.5, 35.0, 36.0, 36.5, 37.5, 37.0, 38.0, 38.5, 39.0, 40.0, 40.5, 41.5, 42.0, 42.5, 43.0, 43.5, 44.5, 44.0, 45.5, 46.5, 46.0, 47.5, 48.5, 49.0, 50.0, 50.5, 51.5, 52.0, 53.0, 54.0, 55.5, 56.5, 57.0, 59.5, 60.0, 61.0, 63.0, 25.6, 26.6, 27.6, 27.1, 28.6, 28.1, 29.6, 29.1, 30.6, 30.1, 31.1, 31.6, 32.1, 32.6, 34.6, 34.1, 35.1, 35.6, 36.1, 36.6, 37.6, 38.6, 38.1, 39.1, 40.1, 40.6, 41.6, 41.1, 42.1, 42.6, 43.1, 43.6, 44.6, 45.1, 45.6, 46.1, 47.6, 47.1, 48.1, 48.6, 49.1, 49.6, 51.6, 52.6, 52.1, 54.1, 54.6, 55.6, 55.1, 57.1, 60.1, 63.1, 24.7, 25.7, 25.2, 26.7, 26.2, 27.2, 27.7, 28.7, 29.2, 29.7, 30.2, 30.7, 32.7, 32.8, 32.2, 32.3, 33.8, 33.3, 33.7, 33.2, 34.2, 34.8, 34.3, 34.7, 35.3, 35.7, 35.2, 36.2, 36.7, 36.3, 36.8, 37.3, 37.8, 37.2, 37.7, 38.2, 38.7, 38.3, 39.3, 39.8, 39.2, 39.7, 40.8, 40.3, 41.3, 41.8, 41.2, 41.7, 42.2, 42.3, 42.7, 42.8, 43.2, 43.7, 44.8, 44.3, 44.2, 45.7, 45.2, 45.3, 45.8, 46.3, 46.7, 46.8, 47.7, 47.2, 47.3, 47.8, 48.8, 48.3, 48.7, 48.2, 49.8, 49.2, 49.3, 50.2, 50.7, 51.2, 51.8, 51.7, 51.3, 52.3, 52.2, 52.7, 53.7, 53.2, 53.8, 53.3, 54.2, 54.3, 56.8, 57.3, 59.7, 59.3, 59.8, 60.7, 60.3, 61.8, 63.3, 63.2, 24.8, 25.8, 25.3, 26.8, 26.3, 27.8, 27.3, 28.3, 28.8, 29.3, 29.8, 31.3, 31.8, 24.9, 26.4, 27.4, 28.4, 28.9, 29.9, 30.4, 31.4, 31.9, 32.4, 32.9, 33.4, 33.9, 34.4, 34.9, 35.9, 35.4, 37.4, 38.9, 38.4, 39.4, 39.9, 40.9, 40.4, 41.9, 41.4, 42.9, 42.4, 43.4, 43.9, 44.4, 44.9, 45.4, 45.9, 46.4, 46.9, 47.4, 48.4, 48.9, 51.9, 53.9, 54.4, 54.9, 55.9, 60.4, 60.9, 61.4, 63.4}

In [6]:
gap_minder.loc[(gap_minder['continent'] == 'Americas') & (gap_minder['year'] == 2012)]

,continent,country,year,demox_eiu,income_per_person,invest_%_gdp,tax_%_gdp,gini_index
273,Americas,Argentina,2012,68.4,19400,16.5,13.00,41.8
286,Americas,Brazil,2012,71.2,15200,21.4,13.70,52.6
297,Americas,Canada,2012,90.8,41800,24.9,11.70,33.3
308,Americas,Chile,2012,75.4,21200,26.4,19.00,47.6
317,Americas,Colombia,2012,66.3,12000,23.9,13.30,53.4
328,Americas,Costa Rica,2012,81.0,13800,20.5,13.30,48.7
339,Americas,Dominican Republic,2012,64.9,11800,24.3,13.00,46.2
350,Americas,El Salvador,2012,64.7,6650,17.8,16.20,42.5
361,Americas,Guatemala,2012,58.8,6900,15.0,10.80,49.9
372,Americas,Honduras,2012,58.4,4070,24.6,14.70,53.7
382,Americas,Jamaica,2012,73.9,8020,19.9,24.30,45.5
391,Americas,Mexico,2012,69.0,16900,23.9,9.77,46.9
402,Americas,Nicaragua,2012,55.6,4380,31.0,15.00,45.3
413,Americas,Paraguay,2012,62.6,9830,15.1,12.80,49.9
424,Americas,Peru,2012,64.7,11200,24.6,16.50,44.6
435,Americas,Suriname,2012,66.5,15000,57.8,19.50,61.0
442,Americas,United States,2012,81.1,50600,19.4,9.82,40.8
453,Americas,Uruguay,2012,81.7,18600,22.9,18.80,41.5

In [7]:
gap_minder.loc[(gap_minder['continent'] == 'Americas') & (gap_minder['year'] == 2013)]

,continent,country,year,demox_eiu,income_per_person,invest_%_gdp,tax_%_gdp,gini_index
274,Americas,Argentina,2013,68.4,19600,17.3,12.5,41.6
287,Americas,Brazil,2013,71.2,15500,21.7,13.4,52.2
298,Americas,Canada,2013,90.8,42400,25.0,11.7,32.8
309,Americas,Chile,2013,78.0,21900,25.6,17.4,47.5
318,Americas,Colombia,2013,65.5,12400,24.3,14.1,52.7
329,Americas,Costa Rica,2013,80.3,13900,19.0,13.7,48.7
340,Americas,Dominican Republic,2013,67.4,12200,22.7,13.5,45.7
351,Americas,El Salvador,2013,65.3,6760,17.2,17.1,41.9
362,Americas,Guatemala,2013,58.1,7010,14.0,10.9,49.2
373,Americas,Honduras,2013,58.4,4110,21.8,15.1,53.0
383,Americas,Jamaica,2013,73.9,8010,21.3,24.0,45.5
392,Americas,Mexico,2013,69.1,16900,22.5,10.3,46.9
403,Americas,Nicaragua,2013,54.6,4530,30.9,15.0,45.6
414,Americas,Paraguay,2013,62.6,10500,15.4,12.0,49.2
425,Americas,Peru,2013,65.4,11700,25.6,16.4,44.1
443,Americas,United States,2013,81.1,51200,19.8,10.6,41.0
454,Americas,Uruguay,2013,81.7,19400,22.5,19.0,40.6

In [16]:
gap_minder['gini_index'].describe()

count    1234.000000
mean       38.044084
std         8.391579
min        24.400000
25%        32.100000
50%        36.000000
75%        42.575000
max        63.900000
Name: gini_index, dtype: float64

In [22]:
gap_minder.loc[(gap_minder['continent'] == 'Oceania')].describe()

,year,demox_eiu,income_per_person,invest_%_gdp,tax_%_gdp,gini_index
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000
mean,2011.000000,91.631818,37840.909091,24.668182,25.245455,33.400000
std,3.236694,0.965296,4724.672737,2.813638,3.497173,0.978337
min,2006.000000,90.100000,32100.000000,19.700000,20.400000,31.900000
25%,2008.250000,90.900000,33150.000000,22.750000,22.100000,32.625000
50%,2011.000000,92.050000,37600.000000,25.050000,25.100000,33.200000
75%,2013.750000,92.600000,41875.000000,27.175000,27.100000,34.150000
max,2016.000000,92.600000,44600.000000,28.600000,32.000000,35.000000

In [32]:
gap_minder.loc[(gap_minder['continent'] == 'Europe')].value_counts()

continent  country         year  demox_eiu  income_per_person  invest_%_gdp  tax_%_gdp  gini_index
Europe     United Kingdom  2016  83.6       39400              17.0          25.6       33.4          1
           France          2014  80.4       37600              22.7          23.2       32.7          1
                           2016  79.2       38100              22.7          23.1       32.6          1
           Germany         2006  88.2       39100              19.8          10.8       31.0          1
                           2007  88.2       40500              20.7          11.3       31.0          1
                                                                                                     ..
           Norway          2013  99.3       62900              27.9          25.1       26.3          1
                           2014  99.3       63400              28.1          23.5       26.8          1
                           2015  99.3       64000              27.6          22.1       27.1          1
                           2016  99.3       64200              29.3          22.0       27.4          1
           Albania         2011  58.1       10200              31.4          18.0       29.3          1
Length: 426, dtype: int64